/* menu.css */

* {
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
  width: 100%;
  height: 5em;
  position: fixed;
  display: none;
  justify-content: flex-start;
  padding: 1em;
  z-index: 20;
}
.menuBox{

  display: flex;
  flex-direction: column;
}
.menuTop{
  width: 100vw;
  height: 15vh;
}
.menuBottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 0.7rem;
  margin-top: 1rem;
 
}

.burger-bar {
  width: 3.5em;
  height: 0.5em;
  background-color: #D0AB7C;
  border-radius: 0.5em;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: #110302;
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  animation: fadeInMenu 0.5s ease forwards;
}

.zIndexNeg{
  z-index: -1;
}
.zIndexPos{
  z-index: 10;
}
.menu.fadeOut {
  animation: fadeOutMenu 0.5s ease forwards;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* ------------- sliding menu ------------------ */
.hidden {
  animation: fadeOutMenu 0.5s ease forwards;
  
}

.visible {
  display: flex;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}



@media only screen and (max-width: 767px){
	nav{
    display: flex;
  }
}