@font-face {
  font-family: 'certFont';
  src: url('../assets/certFont.ttf') format('truetype');
 
}
.certificateContainer {
    background-color: #000000;
    height: fit-content;
    display: flex;
   justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .certBox {
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 2rem;
   
  }
  
  .inputField {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #D0AB7C !important; /* Add !important */
    border-radius: 5px;
    text-align: center;
    
    width: 80% !important;
    
  }
  
  .inputField::placeholder {
    color: #d8d6d6 !important;
  }
  
  .certbtn {
    padding: 10px 20px;
    margin-top: 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #D0AB7C !important;
    color: #000000;
    cursor: pointer;
    width: 80%;
    font-weight: 600;
    height: 6rem;
  }
  
  .certbtn:hover {
    background-color: #dddddd;
  }
  .certbtn.verifying {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  


.certTitle{
  z-index: 1000;
  position: fixed;
  width:100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  top:0;
  font-size: 1.2rem;
  color: #cccccc;
  background-color: #110302;
  border-bottom: 1px solid #917857;
}
.certNavbar{
 
  width:fit-content;
  height: 100%;
  display: flex;
  color: rgb(206, 205, 205);
  flex-direction: column;
  justify-content: center;
 
  font-size: 1.2rem;
 
 
}
  

.inputField{
  background-color: #D0AB7C;
  color: #000000;
}






  @media only screen and (max-width: 767px){
  
.certBox{
  width: 100%;
}
  }